@mixin primaryButton ($fontColor, $bgColor, $padding){
    background-color: $bgColor;
    color: $fontColor;
    border: none;
    border-radius: 16px;
    padding: $padding;
    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: darken($bgColor, 15%);
    }
}

@mixin mainFooter(){
    margin-top: 20px;
    background-color: #2A2936;
    color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    .footer-main-logo {
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        font-weight: 600;
        margin-bottom: 8px;
        p{
            margin-left: 8px;
        }
    }
    .footer-main-text {
        font-size: 0.7rem;
        width: 50%;
        text-align: center;
    }
    .footer-links {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
        a {
            text-decoration: none;
            color: #D9D9D9;
            font-weight: 500;
            text-decoration: underline;
            font-size: 1rem;
            margin-top: 8px;
        }
    }
}