* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1A171E;
  color: #F5F5F5;
  overflow-x: hidden;
}

.banner-medium-small-screen {
  display: none;
  height: 600px;
  position: relative;
  background: url("../img/image3.png") no-repeat;
  background-size: 100%;
  background-position: top;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-medium-small-screen .nav-medium-small-screen {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 1.5rem;
  margin-top: 32px;
}
.banner-medium-small-screen .nav-medium-small-screen i {
  z-index: 1;
  font-size: 2.1rem;
  cursor: pointer;
  color: white;
}
.banner-medium-small-screen .nav-medium-small-screen .main-logo-medium-small-screen {
  z-index: 1;
  display: flex;
  align-items: center;
}
.banner-medium-small-screen .nav-medium-small-screen .main-logo-medium-small-screen p {
  margin-left: 8px;
  font-size: 1.7rem;
  font-weight: 600;
}
.banner-medium-small-screen .fa-circle-left, .banner-medium-small-screen .fa-circle-right {
  z-index: 1;
  position: absolute;
  font-size: 2.1rem;
  cursor: pointer;
  color: #F5F5F5;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}
.banner-medium-small-screen .fa-circle-left:hover, .banner-medium-small-screen .fa-circle-right:hover {
  opacity: 1;
}
.banner-medium-small-screen .fa-circle-left {
  left: 1.5rem;
}
.banner-medium-small-screen .fa-circle-right {
  right: 1.5rem;
}
.banner-medium-small-screen .content-banner-medium-small-screen {
  z-index: 1;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -55%);
  width: 90%;
  height: 80%;
  margin: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-medium-small-screen .content-banner-medium-small-screen .text-topic {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 5px 5px 14px black;
}
.banner-medium-small-screen .content-banner-medium-small-screen .text-title {
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: 500;
  width: 100%;
  text-shadow: 5px 5px 14px black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.banner-medium-small-screen .content-banner-medium-small-screen .container-banner-manga-img {
  margin-top: 1rem;
  width: 215px;
  height: 310px;
}
.banner-medium-small-screen .content-banner-medium-small-screen .container-banner-manga-img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.banner-medium-small-screen .content-banner-medium-small-screen .container-banner-manga-img .tags button {
  font-size: 0.8rem;
  color: #F5F5F5;
  background-color: #2A2936;
  border-radius: 6px;
  padding: 2px 6px;
  border: none;
}
.banner-medium-small-screen .content-banner-medium-small-screen .container-banner-manga-img .tags button:hover {
  background-color: #F5F5F5;
  color: #2A2936;
}

.banner-medium-small-screen::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), transparent, rgba(0, 0, 0, 0.7));
}

.banner {
  width: 100vw;
  height: 500px;
  position: relative;
  background: url("../img/image3.png") no-repeat;
  background-size: 100%;
  background-position: top;
  overflow: hidden;
}
.banner nav {
  margin-top: 32px;
  position: absolute;
  display: flex;
  z-index: 1;
  width: 95vw;
  margin-inline: 2.5vw;
  align-items: center;
}
.banner nav .main-logo {
  display: flex;
  align-items: center;
}
.banner nav .main-logo p {
  margin-left: 8px;
  font-size: 1.7rem;
  font-weight: 600;
}
.banner nav ul {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-around;
}
.banner nav ul li {
  list-style: none;
  font-size: 1.2rem;
}
.banner nav ul li a {
  text-decoration: none;
  color: #F5F5F5;
}
.banner nav .nav-container-right {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.banner nav .nav-container-right .search button, .banner nav .nav-container-right .settings button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.banner nav .nav-container-right .search button img, .banner nav .nav-container-right .settings button img {
  width: 25px;
  height: 25px;
}
.banner nav .nav-container-right .profile {
  margin-inline: 16px;
}
.banner nav .nav-container-right .profile button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.banner nav .nav-container-right .profile button img {
  width: 40px;
  height: 40px;
  border-radius: 32px;
}

.banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), transparent, rgba(0, 0, 0, 0.7));
}

.banner-info {
  z-index: 1;
  position: absolute;
  width: 50vw;
  top: 100px;
  left: 50px;
}
.banner-info .text-topic {
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 5px 5px 14px black;
}
.banner-info .text-title {
  margin-top: 16px;
  font-size: 2.2rem;
  text-shadow: 5px 5px 14px black;
}
.banner-info .text-description {
  margin-top: 8px;
  font-size: 0.9rem;
  font-weight: 300;
  text-shadow: 5px 5px 14px black;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.banner-container-manga {
  z-index: 1;
  position: absolute;
  top: 100px;
  right: 50px;
  width: 215px;
  height: 366px;
}
.banner-container-manga .banner-container-manga-img {
  width: 215px;
  height: 310px;
}
.banner-container-manga .banner-container-manga-img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.banner-container-manga .tags {
  margin-top: 6px;
  width: 100%;
}
.banner-container-manga .tags button {
  font-size: 0.8rem;
  color: #F5F5F5;
  background-color: #2A2936;
  border-radius: 6px;
  padding: 2px 6px;
  border: none;
}
.banner-container-manga .tags button:hover {
  background-color: #F5F5F5;
  color: #2A2936;
}

.banner-buttons-group {
  z-index: 1;
  position: absolute;
  display: flex;
  bottom: 25px;
  width: 100vw;
  justify-content: center;
}
.banner-buttons-group button {
  margin-inline: 4px;
  width: 15px;
  height: 15px;
  border-radius: 32px;
  border: none;
  background-color: #2A2936;
  cursor: pointer;
}
.banner-buttons-group button:hover {
  background-color: #F5F5F5;
  color: #2A2936;
}

.bar-with-logo {
  background-color: black;
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bar-with-logo p {
  font-size: 1.7rem;
  font-weight: 600;
  margin-left: 8px;
}

.title-manga-section {
  font-size: 1.7rem;
  font-weight: 500;
  margin-left: 60px;
  text-shadow: 5px 5px 14px black;
}

.manga-section {
  margin-top: 20px;
}
.manga-section hr {
  width: 93vw;
  margin: 0 auto;
}
.manga-section .card-group-manga-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
.manga-section .card-group-manga-section .card-manga {
  overflow: hidden;
  width: 175px;
  margin: 10px;
}
.manga-section .card-group-manga-section .card-manga a {
  display: block;
  text-decoration: none;
  color: #F5F5F5;
}
.manga-section .card-group-manga-section .card-manga a img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 240px;
  border-radius: 8px;
}
.manga-section .card-group-manga-section .card-manga a p {
  padding: 10px 0px 10px 0px;
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 5px 5px 14px black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.manga-section .card-group-manga-section .card-manga:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.text-notification {
  margin-inline: 60px;
  margin-top: 20px;
  border: 2px solid white;
  border-radius: 16px;
  background-color: black;
}
.text-notification p {
  font-size: 1.1rem;
  text-align: center;
  padding: 8px;
}

.manga-section-news-updates {
  margin-top: 20px;
}
.manga-section-news-updates hr {
  width: 93vw;
  margin: 0 auto;
}
.manga-section-news-updates .card-group-manga-section-news-updates {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.manga-section-news-updates .card-group-manga-section-news-updates .card-manga-news-updates {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #2A2936;
  border-radius: 4px;
  padding: 10px;
  width: 410px;
  height: 170px;
  margin: 10px;
}
.manga-section-news-updates .card-group-manga-section-news-updates .card-manga-news-updates a {
  display: block;
  text-decoration: none;
  color: #F5F5F5;
  width: 100px;
  max-height: 140px;
}
.manga-section-news-updates .card-group-manga-section-news-updates .card-manga-news-updates a img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 140px;
  border-radius: 4px;
}
.manga-section-news-updates .card-group-manga-section-news-updates .card-manga-news-updates .content-new-updates {
  margin-left: 8px;
}
.manga-section-news-updates .card-group-manga-section-news-updates .card-manga-news-updates .content-new-updates a {
  width: 220px;
}
.manga-section-news-updates .card-group-manga-section-news-updates .card-manga-news-updates .content-new-updates a .cards-news-updates-manga-title {
  font-size: 1.3rem;
  font-weight: 500;
  text-shadow: 5px 5px 14px black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.manga-section-news-updates .card-group-manga-section-news-updates .card-manga-news-updates .content-new-updates a button {
  background-color: transparent;
  border: solid 1px white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 0.9rem;
  border-radius: 8px;
  padding: 2px 4px;
  margin-top: 4px;
  width: 100%;
}
.manga-section-news-updates .card-group-manga-section-news-updates .card-manga-news-updates .content-new-updates a button:hover {
  background-color: white;
  color: #2A2936;
}

footer {
  margin-top: 20px;
  background-color: #2A2936;
  color: #D9D9D9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}
footer .footer-main-logo {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 8px;
}
footer .footer-main-logo p {
  margin-left: 8px;
}
footer .footer-main-text {
  font-size: 0.7rem;
  width: 50%;
  text-align: center;
}
footer .footer-links {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
footer .footer-links a {
  text-decoration: none;
  color: #D9D9D9;
  font-weight: 500;
  text-decoration: underline;
  font-size: 1rem;
  margin-top: 8px;
}
footer .footer-links {
  width: 80%;
  justify-content: center;
}
footer .footer-links a {
  margin-inline: 4px;
}
footer .footer-main-text {
  width: 80%;
}

/*
    MEDIA QUERIES
*/
@media (max-width: 758px) {
  .banner-medium-small-screen {
    display: block;
  }
  .banner {
    display: none;
  }
  .bar-with-logo {
    display: none;
  }
}
@media (max-width: 485px) {
  .footer-links a {
    font-size: 0.8rem !important;
  }
  .footer-main-text {
    font-size: 0.6rem !important;
  }
}/*# sourceMappingURL=style_home.css.map */